<div>
    <div class="bg-light d-flex justify-content-center">
        <mat-form-field>
            <input matInput #selectedCity (keyup.enter)="citySearchInfo(selectedCity.value)" (blur)="citySearchInfo(selectedCity.value);" placeholder="Tel Aviv" aria-label="Search" [matAutocomplete]="auto" [formControl]="searchCitiesCtrl">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn ">
                <mat-option *ngIf="isLoading" class="is-loading ">Loading...</mat-option>
                <ng-container *ngIf="!isLoading">
                    <mat-option *ngFor="let city of filteredCities" [value]="city.LocalizedName">
                        <span><b>{{city.LocalizedName}} , {{city.Country.LocalizedName}}</b></span>
                    </mat-option>
                </ng-container>
            </mat-autocomplete>
        </mat-form-field>
        <br>

        <ng-container *ngIf="errorMsg; else elseTemplate ">
            {{errorMsg}}
        </ng-container>
        <ng-template #elseTemplate>
            <h5>Selected Value: {{searchCitiesCtrl.value}}</h5>
        </ng-template>
    </div>

</div>