<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" [routerLink]="''">Weather</a>
        <div class="d-flex justify-content-end">
            <div class="navbar-expand mr-auto">
                <div class="navbar-nav">
                    <a class="nav-item nav-link bg-primary text-white rounded" [routerLink]="'/home'"> Home </a>
                    <a class="nav-item nav-link bg-primary text-white rounded" [routerLink]="'/favorites'"> Favorites </a>
                </div>
            </div>
        </div>
    </div>
</nav>